.best {
    background: url('../images/section_best/best_bg.png') center center /cover no-repeat;
}

.best__item {
    flex: 1;
    margin-right: rem(15px);
    text-align: center;
    // padding: 0 rem(15px);

    &:nth-child(3) {
        margin-right: 0;
    }

    @include phones {
        display: flex;
        flex-direction: row;
    }
}

.best__list {
    display: flex;

    @include phones {
        display: flex;
        flex-direction: column;
    }
}

.best__img {
    display: flex;
    justify-content: center;
    margin-bottom: rem(29px);

}

.best__img-pic {
    // max-width: 100%;
    // max-height: 100%;
    height: rem(89px);
    width: rem(89px);
}

.best__desc {

    @include phones {
        text-align: left;
        margin-left: 10px;
    }
}

.best__desc-title {
    font-family: 'Lifehack-Medium';
    font-size: rem(24px);
    font-weight: 500;
}

.best__desc-text {
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    opacity: 0.8;
    margin-top: rem(10px);
    line-height: 1.71;
    letter-spacing: normal;
}