.button {
    background: $red;
    padding: rem(8px) rem(15px);
    border-radius: rem(5px);
    text-transform: uppercase;
    color: white;
    font-size: rem(13px);
    border: none;
    font-family: 'Ubuntu';
    font-weight: 500;
    cursor: pointer;

    // @include tablets {
    //     display: none;
    // }

    &:focus {
        outline: 0;
        transform: scale(1.2);
    }
    &:hover {
        outline: 0;
        // transform: scale(1.2);
        background: #ff3308;
    }

    &_black {
        background: #000;
    }

    // &.index__order-button--order {
    //     margin-top: rem(20px);
    // }

    &.index__order-button--disable {
        background: transparent;
    }
}

