.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(15px);
}

.menu {
    
    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu';
    font-size: rem(13px);
    text-transform: uppercase;
}

.menu__item {
    display: flex;
    align-items: center;

    &:last-child {
        &::after {
            display: none;
        }
    }

    &::after {
        content: '';
        background: white;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        display: inline-block;
        margin: 0 rem(10px);
    }
}

.menu__link {
    color: white;
    text-decoration: none;
}

.logo-link {
    display: inline-block;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__logo-overlay {
    position: absolute;
    left: 2%;
    top: 2%;                 
}