.index {
    background: url('../images/section_index/index_bg.png') center center / cover no-repeat;
}

.index__order-button {
    margin-left: rem(15px);

        @include tablets {
            margin-left: 0;
            margin-right: 40px;
            margin-top: -45px;
    }
}

.index__container {
    height: 100%;
}

.index__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 8%;

    @include tablets {
        // display: flex;
        flex-direction: column;
        align-items: center;
        text-align: -webkit-center;
    }
}

.index__content-text {
    flex: 1;
}

.index__content-img {
    flex-shrink: 0;
    flex: 1;
}

.index__content-desc {
    color: white;
    font-size: rem(55px);
    font-family: 'Lifehack-Medium';
    text-transform: lowercase;
    line-height: 1;
}

.arrow-down {
    background: url('../images/section_index/arrow-scroll.png') center center no-repeat;
    // position: absolute;
	height: rem(50px);
	width: rem(50px);
    border: none;
    bottom: 0;
    margin: 0 50%;
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: rem(40px); 

    &:focus {
        outline: 0;
        transform: scale(1.2);
    }
    &:hover {
        outline: 0;
        transform: scale(1.2);
    }
}

.index__burger-img {
    // max-height: 100%;
    // max-width: 100%;
    
    @include tablets {
        max-height: 70%;
        max-width: 70%;
    }

}

.hamburger-menu-link {
    width: rem(25px);
    height: rem(23px);
    top: 20px;
    right: 20px;
    z-index: 100;

    display: none;
    position: fixed;

    display: flex;
    flex-direction: column;

    @include tablets() {
        display: flex;
    }
}
.hamburger-menu__item {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    
    &:last-child {
        margin-bottom: 0;
    }

    background-color: #fff;
    border-radius: 20%;

}