.menu-list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: url('../images/section_menu/img1.png') center center /cover no-repeat;
}

.title_white {
    position: absolute;
    color: #ffffff;
    left: 10%;
    top: 10%;
}

.menu-accordion {
    display: flex;
    height: 100%;
}

.menu-accordion__item-title {
    font-family: 'Gagalin-Regular';
    text-align: center;
    color: #ffffff;
    transform: rotate(-90deg);
    font-size: rem(35px);

    &.is_active {
        color: #f9b43b;
    }
}

.menu-accordion__item {
    position: relative;
    transform-origin: left bottom 0;
    white-space: nowrap;
    display: flex;

    &.is_active {
        width: rem(550px);
        height: 100%;
        color: #ffffff;

            .menu-accordion__content {
                display: inline;
                // width: rem(550px);
                // transition: width 0.3s;
            }
        // background-color: rgba(255, 255, 255, 0.5);

        @include tablets {
            width: 25.375rem;
        }

        @include phones {
            width: 20.375rem;
        }

        .menu-accordion__item-title {
            color: #f9b43b;
        }
    }

    // &.menu-accordion__item--meat {
    //     background: url('../images/section_menu/img3.png') 90% 50% no-repeat;
    //     overflow: hidden;
    //     height: 100%;
    //     background-size: cover;
        
    // }

    // &.menu-accordion__item--veget {
    //     background: url('../images/section_menu/img2.png') 50% 50% no-repeat;
    //     overflow: hidden;
    //     height: 100%;
    //     background-size: cover;
    // }

    // &.menu-accordion__item--diet {
    //     background: url('../images/section_menu/img4.png') 100% 50% no-repeat;
    //     height: 100%;
    //     background-size: cover;
    // }

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        height: 100%;
        min-width: 100%;
        background-color: rgba(20, 20, 20, 0.7);
    }
}

.menu-accordion__link {
    display: flex;
    height: 100%;
    width: rem(80px);
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    overflow: hidden;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    transition: width 0.3s;

    @include tablets {
        width: 2rem;
        padding: 1.875rem 2.375rem;
    }
    
}

.menu-accordion__content {
    width: 0;
    display: none;
}

.menu-accordion__item-text {
    white-space: normal;
    word-wrap: break-word;
    padding: 0.875rem 1.375rem;
    position: absolute;
}


