.menu-list {
    background: url('/source/images/section_menu/img1.png') center center /cover no-repeat;
    position: relative;
}

.title_white {
    position: absolute;
    color: #ffffff;
    left: 10%;
    top: 10%;
}

.menu-accordion{
    width: 240px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

.menu-accordion__item-title {
    font-family: 'Gagalin-Regular';
    text-align: center;
    color: #ffffff;
}

.menu-accordion__item {
    position: absolute;
    width: 80px;
    height: 650px;
    // transform: rotate(-90deg);
    transform-origin: left bottom 0;
    white-space: nowrap;

    &:nth-child(1) {
        background: url('/source/images/section_menu/img3.png') 90% 50% no-repeat;
        overflow: hidden;
    }

    &:nth-child(2) {
        left: 80px;
        background: url('/source/images/section_menu/img2.png') 50% 50% no-repeat;
        overflow: hidden;
    }

    &:nth-child(3) {
        left: 160px;
        background: url('/source/images/section_menu/img4.png') 100% 50% no-repeat;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(20, 20, 20, 0.7)
    }
}
