.order {
    background: url('/source/images/section_order/order_bg.png') center center no-repeat / cover;
}

.form {
    display: flex;
    font-family: 'Ubuntu';
    font-weight: 300;
    line-height: 1.71;
    text-align: left;
    color: #ffffff;
}
.form-left {
    flex: 1;
    padding-right: 20px;
}

.form__row-left {
    display: flex;
    flex: 1;

    &.form__row-left--padding {
        padding-top: 18px;
    }
}

.form-right {
    display: flex;
    width: 100%;
    flex: 1;
}

.form__block {
    margin-right: 20px;
    flex: 1;
    &:last-child {
        margin-right: 0;
    }
}

.form__block-input,
.form__block-textarea {
    border-radius: 5px;
    background: #ffffff;
    border: none;
    width: 100%;
    padding: 5px 10px;

    resize: none;
}

.form__radio-wrap {
    display: flex;
    // justify-content: space-between;
}

.form__radio-label {
    display: flex;
    margin-right: 20px;
    
    &:last-child {
        margin-right: 0;
    }
}

.form__checkbox-label {
    display: flex;
}

.form__radio-text,
.form__checkbox-text {
    margin-left: 10px;
    transform: translate(0px, -5px);
}

.form__block-title--padding {
    padding-top: 17px;
}

.form__radio-input {
    display: none;
}
.form__radio-fake {
    display: inline-block;
    width: 16px;
    height: 16px;

    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    vertical-align: middle;

    margin-right: 5px;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #e35028;
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}

.form__radio-input:checked + .form__radio-fake::after {
        width: 8px;
        height: 8px;
}

