.order {
<<<<<<< HEAD
  background: url("/source/images/section_order/order_bg.png") center center no-repeat/cover;
=======
  background: url("../images/section_order/order_bg.png") center center no-repeat/cover;
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu';
  font-weight: 300;
  line-height: 1.71;
  text-align: left;
  color: #ffffff;
}

.form-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
<<<<<<< HEAD
  padding-right: 20px;
=======
  padding-right: rem(20px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
}

.form__row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__row-left.form__row-left--padding {
<<<<<<< HEAD
  padding-top: 18px;
=======
  padding-top: rem(18px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
}

.form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__block {
<<<<<<< HEAD
  margin-right: 20px;
=======
  margin-right: rem(20px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__block:last-child {
  margin-right: 0;
}

.form__block-input,
.form__block-textarea {
<<<<<<< HEAD
  border-radius: 5px;
  background: #ffffff;
  border: none;
  width: 100%;
  padding: 5px 10px;
=======
  border-radius: rem(5px);
  background: #ffffff;
  border: none;
  width: 100%;
  padding: rem(5px) rem(10px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
  resize: none;
}

.form__radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__radio-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  margin-right: 20px;
=======
  margin-right: rem(20px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
}

.form__radio-label:last-child {
  margin-right: 0;
}

.form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__radio-text,
.form__checkbox-text {
<<<<<<< HEAD
  margin-left: 10px;
  -webkit-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
}

.form__block-title--padding {
  padding-top: 17px;
=======
  margin-left: rem(10px);
  -webkit-transform: translate(rem(0px), rem(-5px));
          transform: translate(rem(0px), rem(-5px));
}

.form__block-title--padding {
  padding-top: rem(17px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
}

.form__radio-input {
  display: none;
}

.form__radio-fake {
  display: inline-block;
<<<<<<< HEAD
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
=======
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid #ffffff;
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  vertical-align: middle;
<<<<<<< HEAD
  margin-right: 5px;
=======
  margin-right: rem(5px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
}

.form__radio-fake::after {
  content: '';
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #e35028;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__radio-input:checked + .form__radio-fake::after {
<<<<<<< HEAD
  width: 8px;
  height: 8px;
=======
  width: rem(8px);
  height: rem(8px);
>>>>>>> ddb68ebf051b4a1276befffe4ba18ffb343f8229
}
/*# sourceMappingURL=order.css.map */