.team {
    background: url('../images/section_team/bckg_team.png') center center /cover no-repeat;
    position: relative;
}

.wrapper__team {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.93;
    background-color: #2f3234;
    padding: 5% 2% 0 7%;
}

.triangle {
    background: #fff;
    position: relative;
    color: #fff;

    &::before {
        content: ''; 
        position: absolute; 
        left: -20px; 
        bottom: -25px;
        border: 5px solid transparent;
        border-top: 5px solid #fff;
   }
}

.team-accordion__item {
    font-family: 'Gagalin-Regular';
    font-size: 14px;
    line-height: 2;
    text-align: left;
    color: #ffffff;
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }

    &.is_active {
        .team-accordion__link {
            color: #f9b43b;
        }
    }

    &.is_active {
        .triangle {
            background: #f9b43b;
            color: #f9b43b;

            &::before {
                border: 5px solid transparent;
                border-top: 5px solid #f9b43b;
            }
        }
    }

    &.is_active {
        .team-accordion__details {
            height: 100%;
            // overflow: hidden;
        }
    }
}

.team-accordion__details {
    height: 0;
    overflow: hidden;
    display: flex;
}

.team-accordion__details-text,
.team-accordion__link {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: left;
    color: #ffffff;
    width: 208px;
    height: 95px;
}

.team-accordion__details-img {
    width: 100px;
    height: 99.8px;
    border-radius: 50%;
    overflow: hidden;
}

.team-accordion__details-pic {
    transform: translate(-15%, 0);
}

.team-accordion__link {
    font-family: inherit;
}

.team-accordion__details-title {
    font-weight: 600;
}


